USE [master]
GO
/****** Object:  Database [ShopManage]    Script Date: 2/9/2021 6:36:46 PM ******/
CREATE DATABASE [ShopManage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopManage', FILENAME = N'D:\sql\MSSQL15.ADMIN\MSSQL\DATA\ShopManage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopManage_log', FILENAME = N'D:\sql\MSSQL15.ADMIN\MSSQL\DATA\ShopManage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopManage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopManage]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consumers]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Consumers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogProducts]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LogProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Count] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[SoldedCount] [int] NOT NULL,
	[SoldedTotal] [decimal](18, 2) NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/9/2021 6:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Status]) VALUES (1, N'Geyim', 0)
INSERT [dbo].[Categories] ([Id], [Name], [Status]) VALUES (2, N'Qida', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Consumers] ON 

INSERT [dbo].[Consumers] ([Id], [UserId], [ProductId], [Count], [CreatedDate], [Price]) VALUES (1, 3, 3, 1, CAST(N'2021-02-07T12:32:13.650' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Consumers] ([Id], [UserId], [ProductId], [Count], [CreatedDate], [Price]) VALUES (2, 3, 1, 3, CAST(N'2021-02-07T12:38:41.573' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Consumers] ([Id], [UserId], [ProductId], [Count], [CreatedDate], [Price]) VALUES (3, 4, 6, 3, CAST(N'2021-02-07T13:01:19.507' AS DateTime), CAST(2.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Consumers] OFF
SET IDENTITY_INSERT [dbo].[LogProducts] ON 

INSERT [dbo].[LogProducts] ([Id], [ProductId], [UserId], [Description], [Date], [Status]) VALUES (1, 3, 2, N'Just', CAST(N'2021-02-07T12:31:52.830' AS DateTime), 4)
INSERT [dbo].[LogProducts] ([Id], [ProductId], [UserId], [Description], [Date], [Status]) VALUES (2, 5, 3, N'sil', CAST(N'2021-02-07T12:39:45.983' AS DateTime), 3)
INSERT [dbo].[LogProducts] ([Id], [ProductId], [UserId], [Description], [Date], [Status]) VALUES (3, 7, 3, N'dd', CAST(N'2021-02-07T14:25:08.160' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[LogProducts] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [CategoryId], [Price], [CreatedUserId], [PhoneNumber], [Count], [Status], [SoldedCount], [SoldedTotal], [User_Id]) VALUES (1, N'etek', 1, CAST(1.00 AS Decimal(18, 2)), 2, N'+994556783545', 27, 1, 3, CAST(3.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Products] ([Id], [Name], [CategoryId], [Price], [CreatedUserId], [PhoneNumber], [Count], [Status], [SoldedCount], [SoldedTotal], [User_Id]) VALUES (2, N'Soda', 2, CAST(1.00 AS Decimal(18, 2)), 2, N'+994556783545', 20, 1, 0, CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Products] ([Id], [Name], [CategoryId], [Price], [CreatedUserId], [PhoneNumber], [Count], [Status], [SoldedCount], [SoldedTotal], [User_Id]) VALUES (3, N'Yumurta', 2, CAST(12.00 AS Decimal(18, 2)), 2, N'+994556783545', 39, 1, 1, CAST(0.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Phone], [Password], [CreatedDate], [Status], [RoleId]) VALUES (2, N'admin', N'admin', N'admin@gmail.com ', N'+994556783545', N'admin', CAST(N'2021-02-07T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Phone], [Password], [CreatedDate], [Status], [RoleId]) VALUES (3, N'nigarr@gmail.com', N'nigarr@gmail.com', N'nigarr@gmail.com', N'+994556786756', N'nigarr@gmail.com', CAST(N'2021-02-07T12:20:00.910' AS DateTime), 0, 2)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Phone], [Password], [CreatedDate], [Status], [RoleId]) VALUES (4, N'nigar@gmail.com', N'nigarr@gmail.com', N'nigar@gmail.com', N'+994551324343', N'nigar@gmail.com', CAST(N'2021-02-07T12:21:11.403' AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_ProductId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Consumers]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Consumers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[LogProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[LogProducts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Products]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2/9/2021 6:36:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consumers] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Consumers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consumers_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consumers] CHECK CONSTRAINT [FK_dbo.Consumers_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Consumers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Consumers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Consumers] CHECK CONSTRAINT [FK_dbo.Consumers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[LogProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LogProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LogProducts] CHECK CONSTRAINT [FK_dbo.LogProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[LogProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LogProducts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LogProducts] CHECK CONSTRAINT [FK_dbo.LogProducts_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
USE [master]
GO
